body {
  background: lavenderblush;
}

a {
  text-decoration:none;
}

#demo {
  height:45vh;
  overflow:scroll;
  background: lavenderblush;
  padding:10px;
}
#pwd {
  font-family:monospace;
}
.title {
  font-weight: bold;
}

.message {
  border-radius: 5px 25px 25px 25px;
  border: 2px solid plum;
  background: lavender;
  padding: 20px;   
  width: fit-content;
}
.reply {
  border-radius: 25px 25px 5px 5px;
  border: 2px solid plum;
  background: aliceblue;
  padding: 10px;   
  width: fit-content;
  font-style: italic;
}
